#root, html, body {
    margin: 0;
    padding: 0;
    
    height: 190vh;
    box-sizing: border-box;
}

:root{
    --one: #0c1821;
    --two: #1b2a41;
}

.app {
    height: 100%;
    /* background: linear-gradient(to right, var(--one), var(--two)); */
    background: url('./images/forest.jpg');
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
}

body{
    min-height: 100%;
}

.site-title{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1.3rem;
    color: white;
}

.site-title h1{
    margin-left: 30px;
    margin-top: 0px;
}
.title {
    margin-top: 0px;
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1.2rem;
    color: white;
}

.title h2{
    margin-top: 0px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 200;
}

.pic {
    justify-content: center;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
}

#photo {
    width: auto;
    max-width: 50%;
    height: auto;
    max-height: 400px;
    border-radius: 8px;
    border: 10px solid white;
    justify-content: center;
}

.responsive {
    max-width: 50%;
    height: auto;
}

.facts {
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    text-align: left;
    font-size: 1rem;
    background-color: white;
    width: auto;
    height: 110%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: var(--one) 10px 10px;
}

ul{
    list-style-type: none;
    margin-top: 10px;
    color: var(--one);
}

ul li { 
    padding: 5px 0px; 
    margin-bottom: 4px;
}

.button {
    transition: all .7s ease;
    position: relative;
    outline: none;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
   
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px;
    width: 130px;
    background-color: transparent;

    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: .7rem;
    color: white;
  }
    
  .button:hover {
    transform: scale(1.05, 1);
    color: #000;
    background-color: white;
    transition: ease-in-out .6s;
  }

.h3{
    font-size: .6rem;
}

@media only screen and (max-width: 600px) {
    .facts {
        font-size: .7rem;
    }
  }